

.extra{
	background-color:#e4e3e1;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
	margin: 0;


}


.navContainer{
	background-color: #e4eff7;
	position: fixed;
	border-bottom: black solid;
	width: 100%;
	z-index: 500;

}


.navLinks{
	float: right;
	padding-right:50px;
	padding-top: 10px;
	text-decoration: none;
}


#name{
		padding-top: 6px;
		padding-left: 0;
}

#name:hover{
	color:black;

}

.navImg{
	position: absolute;
	margin-left: 2%;
	margin-top: 0.2%;
}

.navImg > a{
	text-decoration: none;
}

.headerImg{
	text-align: center;
}

.headerImg >img{
	height: auto;
	width: 15%;
}

.images{
	width: 35px;
	height: 35px;
	padding-left: 20px;
	padding-top: 18px;
}

.fadeImg{
	text-align: center
}

.fadeImg>img{
	height: 10%;
	max-width: 30%;
}

ul > ol {
	display: inline;
}

ol > a {
	color: #7d4627;
	text-decoration: none;
}

ol > a:hover{
	color:black;

}

h2 > a {
	text-decoration: none;
	cursor: pointer;
	color: black;

}

.header{
	text-align: center;
	padding-top: 7%;
	width: 56%;
	margin: auto;
	font-family: 'Raleway', sans-serif;
}

.typed{
	color: #7d4627;
	font-style: italic;
}

.typed-cursor{
	opacity: 1;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}


.typed-fade-out{
    opacity: 0;
    animation: 0;
    transition: opacity .25s;
}

.splashRow{
	display: inline-flex;
	color: #7d4627;
	padding-top: 2%;
	padding-left: 29%;
	max-width: 21%;
}

.headerSkills{
	text-align: center
}

.col-3 > a{
	text-decoration: none;
}

.splashRow > .splashMid{
	padding-left: 65%;
}

.splashRow > .splashRight{
	padding-left: 65%;
}

.scrollMore{
	padding-top: 1%;
	text-align: center;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.splashLeft {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.splashMid {
  -webkit-animation-delay: 2.8s;
  -moz-animation-delay:2.8s;
  animation-delay: 2.8s;
}

.fade-in.splashRight {
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  animation-delay: 5s;
}

.fade-in.scrollMore {
  -webkit-animation-delay: 7s;
  -moz-animation-delay: 7s;
  animation-delay: 7s;
}



#sales{
	background: #e4e3e1;
	padding-bottom: 3%;
	padding-top: 2%;
}

#sales > h1{
	text-align: center;
	padding-top: 5%;
	margin-top: 0;
}

#sales > h3 {
	text-align: center;
	font-style: italic;
	padding-bottom: 5%;
}

.salesRow{
	margin: auto;
}

.salesRow::before, .salesRow::after{
	display: table;
	content: '';
}

.salesRow::after{
	clear:both;
}

.col-2{
	float:left;
	padding-left:1.041%;
	padding-right:1.041%;
	width:16.667%;
}

.resumeList{
	margin-top: 0;
	list-style-type: circle;
}

.resumeList > li{
	min-width: 850px;
	padding-top: 20%;
	color: #7d4627
}

.video{
margin-left: 44%;
margin-top: -2%;
}

.vidContainer{
width: 500px;
}

.downArrow{
margin-top: 4%;
text-align: center;
}

#arrowA > img{
	max-width: 5%;
	max-height:5%;
}
#product{
	background: #e4eff7;
	padding-bottom: 3%;
	padding-top: 2%;
}

#product> h1{
	text-align: center;
	padding-top: 5%;
	margin-top: 0;
}

#product > h3 {
	text-align: center;
	font-style: italic;
	padding-bottom: 3%;
}

.productRow{
	margin: auto;
	display: inline-flex;
}

.productRow::before, .salesRow::after{
	display: table;
	content: '';
}

.productRow::after{
	clear:both;
}


.productCont{
	margin-left:15%; 
	height: auto;
	min-width: 150%;
}

.productList{
margin-left: 17%;
}

.productList > .resumeList{
margin-top: 5%;
}

#portfolioBody{
	background: #e4e3e1;
}

#portfolioBody > h1{
	text-align: center;
	padding-top: 5%;
	margin-top:0;
}

#portfolioBody >h3{
	text-align: center;
	font-style: italic;
}

.images{
	width: 35px;
	height: 35px;
	padding-left: 20px;
	padding-top: 18px;
}

ul > ol {
	display: inline;
}

ol > a {
	color: #7d4627;
}

ol > a:hover{
	color:black;

}

a{
	color:#7d4627;
}
main {
	padding-top: 50px;
}

div > h1 {
	color:#7d4627;
}


.row{
	padding-right:20px;
	margin: auto;
  display: inline-flex;
  text-align: center;
  color: #7d4627;
}


.row::before, .row::after{
	display: table;
	content: '';
}

.row::after{
	clear:both;
}

.col-3{
	float:left;
	padding-left:1.041%;
	padding-right:1.041%;
	width:100%;
}

.mid{
border-left: thick double black;
border-right: thick double black;
}


.header{
text-align: center;
padding-bottom: 20px;
}

.imgCont{
	width: 65%;
	height: 33%;
	margin: auto;

}

.image{
	max-width: 100%;
	height: auto;
}


.projDescrip{
	font-style: italic;
}

.langImgCont > p{
margin-top:10%;
}

#mongo{
	height: auto;
	padding-top: 38%;
}

#react{
height: 85%
}

#node{
	height: 90%;
	padding-top: 3%;
}

#longHeader{
	min-width: 100%;
}

.labelsPort{
	display: flex;
	margin-bottom: 30px;
}

.labelsPort > h4{
	margin: auto;
	display: block;
	padding-bottom: 5%;
	padding-top: 4%;
}

.labelsPort > .NYTimes{
	padding-left: 5%;
}

.longLabels{
	padding-left: 5%;	
}

#maps{
	height: auto;
	width: 64%;	
	padding-top: 25%;
}
.langImgCont{
	width: 35%;
	height: 25%;
	padding-right: 2%;
}

.langImage{
	width: 100%;
	height: 100%;
}

.langImage:hover{
cursor: auto;
}

button{
	background-color: #b2d8f1;
	color: #7d4627;
	border-radius: 4px;
	margin: 1.8em;
	padding: 0.5em;
	cursor: pointer;
}

.buttons>a{
	text-decoration:  none;
}

.langDescrip{
	display: flex;
}

#devContactMeButton{
	margin-top: 0;
	margin-bottom: 0;
}


.footer{
  background-color: #e4eff7;
  text-align: center;
  position: relative;
  bottom: 0;
}

.footer > h3{
	color: #7d4627;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-bottom: 0;
	margin-top:0;
}

.portImg:hover{
	cursor: auto;
}

.header-spacer{
	padding-bottom:50px;
}


#aboutMe{
	background: #e4eff7;
	padding-bottom: 4%;
}

#aboutMe > h1{
	text-align: center;
	padding-top: 5%;
}

#aboutMe > .images{
	width: 35px;
	height: 35px;
	padding-left: 20px;
	padding-top: 18px;
}

#aboutMe > ul > ol {
	display: inline;
}

#aboutMe > ol > a {
	color: #7d4627;
}



#aboutMe > .title{
	text-align: center;
	color:	#7d4627;
}

#aboutMe > .portrait{
	text-align: center;
	max-width: 85%;
	margin: auto;	
}

.portImg{
	max-width: 325px;
	border:#b2d8f1 solid;
}


.aboutMeText{
	padding-left: 22%;
}


.aboutMerow {
	display: inline;
	margin-left: 25%;	
}

#aboutMe > .top{
	display: flex;
	margin-top: 50px;
	margin-bottom: 50px;

}

.sarcastic{
	font-style: italic;
}

.box{
	border: black solid;
	text-align: center;
	width: 300px;
	background: #e4e3e1;
	color:#7d4627;
	transition-duration: 1s;
    transition-property: color;
    transition-timing-function: linear;
    border-radius: 6px;
    margin-right: 5%;
}

#hover:hover{
color:white;
}


#aboutMe > .left{
	margin-right: 50px;
	margin-left: 50px;

}


#aboutMe > .bottom{
	display: flex;
}

#aboutMe > .bottomer{
	display: flex;
	padding-top: 4%;
}

#aboutMe > .bottomest {
	padding-top: 4%;
	display: flex;
}

table{
	margin: auto;
	color:#7d4627;
    padding-bottom: 5%;
}


#aboutMe > .bodytext{
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	padding-bottom: 10px;
}

.eduList{
margin-right: 50px;
font-family: Raleway;
}

.eduList > li{
	list-style-type: none;
	font-family: Raleway;
}

#feelgood{
	color: #7d4627;
	text-decoration: none;
	cursor: auto;
}


 
#funFact{
padding-left: 1%;
padding-right: 1%;
padding-top: 13%;
}


#contactMe{
	background: #e4eff7;
	padding-bottom: 2%;

}


ul > ol {
	display: inline;
}

ol > a {
	color: #7d4627;
}

#contactMe > ol > a:hover{
	color:black;

}


#contactMe > .header{
	text-align: center;
	padding-top: 5%;
	padding-bottom: 2%;
	color:#7d4627;
}

#contactMe > .text{
	text-align: center;
	font-style: italic; 
	color: #7d4627;
	padding-bottom: 3%;
}


.thumbnails{
	text-align: center;
	width:100%;
	height: auto;
}
.ContThumb{
	width: 100px;
	padding-left: 1%;
}

#github{
	width: 93px;
}

#email{
	width: 115px;
	margin-bottom: -1%;
}
img:hover{
	cursor: pointer;
}

.thumbnails > a {
	text-decoration: none;
}

@media only screen and (max-device-width: 760px) and (orientation: portrait) {
    .header {
        font-size:53px;
        padding-top: 0%;
    }

    .navContainer{
    	font-size: large;
    }

  .navImg{
    	display: none;
    }

#name{
	display: none;
}

.portfolioBody{
	padding-top: 19%;
	font-size: xx-large;
}

.row{
	display: block;
	padding-top: 5%;

}

.projDescrip{
	font-size: 40px;
}

.mastercard{
	padding-left: 0%;
}

button{
	font-size:larger;
}

.langImgCont{
	padding-bottom: 0%;
}

    .footer{
    	height: 6%;
    	font-size: x-large;
    }

    #aboutMe > .header {
        font-size:53px;
        padding-top: 27%;
    }

    #aboutMe > .text{
    	display: none;
    }

    #aboutMe > .ContThumb{
    padding-top: 20px;
    margin: auto;
    display: block;

    }

 	#github{
 		width: 142px;
 	}

 	#email{
 		width: 160px;
 	}

 	#linkedIn{
 		width: 150px;
 	}

 	#angel{
 		width: 150px;
 	}

}

@media only screen and (max-device-width: 1400px) and (orientation: landscape) {
    .header {
        font-size:30px;
        padding-top: 14%;
    }

.portfolioBody{
	padding-top: 19%;
	font-size: x-large;
}

.headerImg{
	padding-top: 4%;
}

.headerImg >img {
    height: auto;
    width: 15%;
}

.splashRow{
padding-bottom: 3%;
padding-top: 5%;
padding-left: 24%;
}

#splash{
padding-bottom: 5%;	
}

#sales{
padding-bottom: 12%;
}

.aboutMerow {
    display: inline;
    margin-left: 17%;
}

button{
	font-size:larger;
}

#salesList > .resumeList{
	margin-left: 6%;
}

 .resumeList  > li {
 	min-width: 800px;
 	}

 .mastercard{
 	max-width: 80px;

 }	

 .mastercard > li{
 	padding: 35%;
 	max-width: 
 }

.productList{
	margin-left: 10%;
}

.row{
	display: block;
}

.imgCont{
	padding-top: 5%;
	height: 25%;
}

.video {
    margin-left: 7%;
    margin-top: 23%;
}

.downArrow{
	display: none;
}

#portfolioHeader{
padding-top: 5%;	
}

.langImgCont{
	padding-bottom: 5%;

}

.langImage{
	max-width: 100%;
	height:auto;
}

h5{
	font-size: x-large;	
}
    .navContainer{
    	font-size: x-large;
    }

.projDescrip{
	font-size: larger;
	margin-top: 10%;
}

 .labelsPort > h4 {
 		font-size: x-large;
}

.langDescrip{
	padding-bottom: 5%;
}

    .footer{
    	height: 6%;
    	font-size: x-large;
    }

    #contactMe > .header {
        font-size:34px;
        padding-top: 8%;
        padding-bottom: 5%;
    }

    #contactMe > .text{
    	display: none;
    }

    #contactMe > .thumbnails{
    	padding-top: 0%;
    }

	#contactMe > .ContThumb{
		padding-left: 35%;
	}

 	#github{
 		width: 142px;
 	}

 	#email{
 		width: 160px;
 	}

 	#linkedIn{
 		width: 150px;
 	}

 	#angel{
 		width: 150px;
 	}

 	#maps{
 		height: auto;
 		padding-top: 14%;
 	}

 	#googleLabel{
 		margin-top: 24%;
 	}

 	#mongo{
 		height: auto;
 		padding-top: 24%;
 	}

 	#mongoLabel{
 		font-size: larger;
 		margin-top: 27%;
 	}

 	.langImgCont > p {
    margin-top: 2%;
    font-size: larger;
}


 	#node{
 		height: auto;
 		padding-top: 3%;
 	}

 	#nodeLabel{
 		font-size: larger;
 		margin-top: -4%;
 	}

 	#react{
 		height: auto;
 	}

 	#reactLabel{
	margin-top: 10%;
	font-size: larger;
 	}

 	.mid{
 		border: none;
 	}

 	.headerSkills{
 		font-size: x-large;
 		padding-top: 4%;
 	}

}


@media only screen and (min-device-width:760px) and (max-device-width: 1024px) and (orientation: portrait) {
    .header {
        font-size:53px;
        padding-top: 0%;
    }

    .headerImg >img {
    height: 12%;
    width: 15%;
}

.headerImg{
	padding-top: 5%;
}

.headerSkills{
	font-size: x-large;
	padding-top: 5%;
	padding-bottom: 5%;
}

.splashRow{
	padding-bottom: 5%;	
	padding-left:17%;
}

 	.splashRow > .splashMid {
    padding-left: 36%;
	}

	.splashRow > .splashRight {
    	padding-left: 36%;
	}

    .navLinks{
    	float: none;
    	padding-left: 3%;
    }


	#name{
	display: none;
	}	

.portfolioBody{
	padding-top: 19%;
	font-size: xx-large;
}

.row{
	display: block;
	padding-top: 5%;

}

button{
	font-size:larger;
}

.downArrow{
	display: none;
}

.salesRow{
	display: grid;
}

.projDescrip{
	font-size: xx-large;
}

.langImgCont{
	padding-bottom: 0%;
}
    .navImg{
    	display: none;
    }

    .footer{
    	height: 6%;
    	font-size: x-large;
    }

        .header {
        font-size:53px;
        padding-top: 19%;
    }

        .text{
    	display: none;
    }

    .ContThumb{
    padding-top: 20px;
    margin: auto;
    display: block;

    }

 	#github{
 		width: 142px;
 	}

 	#email{
 		width: 160px;
 	}

 	#linkedIn{
 		width: 150px;
 	}

 	#angel{
 		width: 150px;
 	}


	h2{
		font-size:48px;
	}

 	.video{
 		margin-left: 23%;
 		padding-top: 10%;
 		padding-bottom: 5%;
 	}

 	.productRow{
 		max-width: 100%;
 	}

 	.productList{
 		margin-left:-6%;
 	}

 	.productCont{
 		display: none;
 	}
	
	.resumeList > li{
	min-width: 820px;
	font-size: large;
	}

	#sales > h3 {
    padding-bottom: 2%;
	}

	#salesList{
		margin-left: 10%;
	}

	#product{
		padding-bottom: 10%;
	}

	#portfolioHeader{
		padding-top: 0%;
	}

	.imgCont{
		height: 21%;
	}

	.mid{
		border: none;
	}

	#portfolioHeader{
		padding-top: 4%;
	}

	h5{
		font-size: xx-large;
	}

	.langImgCont > p {
		font-size: x-large;
    margin-top: 10%;
	}

 	.labelsPort > h4 {
 		font-size: xx-large;
}

	#maps{
		padding-top: 17%;
	}



	#portfolioBody{
		padding-bottom: 14%;
	}

	.aboutMeRow{
		margin-left:19%;
	}

	#aboutMe{
		padding-bottom: 10%;
	}
}


@media only screen and (max-device-width: 740px) and (orientation: portrait) {
    .header {
        font-size:53px;
        padding-top: 30%;
        padding-bottom: 5%;
    }

    #longHeader {
    padding-top: 11%;
}

	#getReadyHeader{
		padding-top:15%;
	}

    .headerImg >img {
    height: auto;
    width: 30%;
	}

	.headerImg{
		padding-bottom: 5%;
		padding-top: 5%;
	}

	.headerSkills{
		padding-bottom: 5%;
	}

	.splashRow{
		padding-left: 18%;
		padding-top: 5%;
		padding-bottom: 7%;
	}


    .navContainer{
    	font-size: -webkit-xxx-large;
    }

    .navImg{
    	display: none;
    }

    .downArrow{
    	display: none;
    }

    .footer{
    	height: 6%;
    	font-size: x-large;
    }

    #sales{
    	padding-bottom: 15%;
    }
      	.salesRow{
 		display: grid;
 	}

 	.video{
 		margin-left: 23%;
 		padding-top: 12%;
 	}

 	#product{
 		padding-bottom: 15%;
 	}

 	.productRow{
 		max-width: 100%;
 	}

 	.productList{
 		margin-left:-6%;
 	}

 	.productCont{
 		display: none;
 	}
	
	.resumeList > li{
	min-width: 820px;
	font-size: x-large;
	}

	#salesList{
		margin-left: 10%;
	}

	#portfolioHeader{
		padding-top: 0%;
	}

	.imgCont{
		height: 17%;
	}

	.langImgCont > p {
    font-size: xx-large;
	}

	.mid{
		border: none;
	}

	h5{
		font-size: xx-large;
	}
	 	#maps{
 		height: auto;
 		padding-top: 36%;
 	}

 	#mongo{
 		height: auto;
 		padding-top: 39%;
 	}


 	#node{
 		height: 89%;
 		padding-top: 0;
 	}


 	#react{
 		height: 89%;
 	}

 	.labelsPort > h4 {
 		font-size: xx-large;
}

 	.langImage{
 		height: 100%;
 	}

 	.aboutMerow{
 		margin-left: 20%;
 	}

 	h2{
 		font-size: 44px;
 	}

 	.splashRow > .splashMid {
    padding-left: 35%;
	}

	.splashRow > .splashRight {
    padding-left: 35%;
	}

}

@media only screen and (max-device-width: 740px) and (orientation: landscape) {
    .header {
        font-size:26px;
        padding-top: 10%;
    }

    .headerImg >img {
    height: auto;
    width: 15%;
	}

	#splash{
		padding-bottom: 0;
	}

	.headerImg{
		padding-top: 0;
	}

	.headerSkills{
		display: none;
	}

	.splashRow{
		display: none;
	}

    .navContainer{
    	font-size: large;
    }

    #product{
    	padding-bottom: 8%;
    }

    .footer{
    	height: 12%;
    	font-size: x-large;
    }

     	.salesRow{
 		display: grid;
 	}

 	.video{
 		margin-left: 23%;
 		padding-top: 10%;
 	}

 	.productRow{
 		max-width: 100%;
 	}

 	.productList{
 		margin-left:-6%;
 	}

 	.productCont{
 		display: none;
 	}
	
	.resumeList > li{
	min-width: 820px;
	}

	#salesList{
		margin-left: 10%;
	}

	#portfolioHeader{
		padding-top: 0%;
	}

	.projDescrip{
		margin-top: 9%;
	}

	.langImgCont > p {
    margin-top: 18%;
    font-size: larger;
}

	 	#maps{
 		height: auto;
 		padding-top: 0;
 	}


 	#mongo{
 		height: auto;
 		padding-top: 9%;
 	}

 	#node{
 		height: 171%;
 		padding-top: 0;
 	}

 	#react{
 		height: 150%;
 	}



 	.langImage{
 		height: 150%;
 	}

 	.aboutMerow{
 		margin-left: 15%;
 	}

 	#portfolioBody{
 		padding-bottom: 15%;
 	}
}


