
.extra{
	background-image: url("./background1.jpg");
	background-size: cover;
	font-family: 'Raleway', sans-serif;

}


.navContainer{
	background-color: rgba(44, 6, 251, 0.76);
	position: fixed;
	border: black solid;
	width: 100%;
	margin-top:-20px;
	margin-left: -10px;


}

.navLinks{
	float: right;
	padding-right:50px;
	padding-top: 10px;


}

.navImg{
	position: absolute;

}

.images{
	width: 35px;
	height: 35px;
	padding-left: 20px;
	padding-top: 18px;
}

ul > ol {
	display: inline;
}

ol > a {
	color: white;
}

ol > a:hover{
	color:aqua;

}

h2 > a {
	text-decoration: none;
	font-style: italic;
	cursor: pointer;
	color: white;

}

.header{
	text-align: center;
	padding-top: 11%;
	width: 56%;
	margin: auto;
}


@media only screen and (max-device-width: 500px) {
    .header {
        font-size:50px;
    }

}
