
.extra{
	background-image: url("./background1.jpg");
	background-size: cover;

}


.navContainer{
	background-color: rgba(44, 6, 251, 0.76);
	position: fixed;
	border: black solid;
	width: 100%;
	margin-top:-20px;
	margin-left: -10px;

}

.navLinks{
	float: right;
	padding-right:50px;
	padding-top: 10px;


}

.navImg{
	position: absolute;

}

.images{
	width: 35px;
	height: 35px;
	padding-left: 20px;
	padding-top: 18px;
}

ul > ol {
	display: inline;
}

ol > a {
	color: white;
}

ol > a:hover{
	color:aqua;

}


.header{
	text-align: center;
	padding-top: 11%;
	width: 60%;
	margin: auto;
}

.name{
	color:white;
}
