
.extra{
	background: burlywood;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
}


.navContainer{
	background-color: rgba(44, 6, 251, 0.76);
	position: fixed;
	border: black solid;
	width: 100%;
	margin-top:-20px;
	margin-left: -10px;

}

.navLinks{
	float: right;
	padding-right:50px;
	padding-top: 10px;


}

.navImg{
	position: absolute;
}

.images{
	width: 35px;
	height: 35px;
	padding-left: 20px;
	padding-top: 18px;
}

ul > ol {
	display: inline;
}

ol > a {
	color: floralwhite;
}

ol > a:hover{
	color:black;

}

main {
	padding-top: 50px;
}

.header{
	text-decoration: underline;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 2%;
	color:floralwhite;
}

.text{
	text-align: center;
	font-style: italic; 
	color: floralwhite;
	padding-bottom: 3%;
}


.thumbnails{
	text-align: center;
	width:100%;
	height: auto;
	padding-top: 25px;
}
.ContThumb{
	width: 100px;
	padding-left: 1%;
}

#github{
	width: 93px;
}

#email{
	width: 115px;
	margin-bottom: -1%;
}
img:hover{
	cursor: pointer;
}

.thumpnails > a {
	text-decoration: none;
}

.footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(44, 6, 251, 0.76);
  text-align: center;
}
