
.extra{
	background: burlywood;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
}


.navContainer{
	background-color: rgba(44, 6, 251, 0.76);
	position: fixed;
	border: black solid;
	width: 100%;
	margin-top:-20px;
	margin-left: -10px;

}

.navLinks{
	float: right;
	padding-right:50px;
	padding-top: 10px;


}

.navImg{
	position: absolute;
}

.images{
	width: 35px;
	height: 35px;
	padding-left: 20px;
	padding-top: 18px;
}

ul > ol {
	display: inline;
}

ol > a {
	color: floralwhite;
}

ol > a:hover{
	color:black;

}

main {
	padding-top: 50px;
}

.header{
	text-decoration: underline;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 2%;
	color:floralwhite;
}

.text{
	text-align: center;
	font-style: italic; 
	color: floralwhite;
	padding-bottom: 3%;
}


.thumbnails{
	text-align: center;
	width:100%;
	height: auto;
	padding-top: 25px;
}
.ContThumb{
	width: 100px;
	padding-left: 1%;
}

#github{
	width: 93px;
}

#email{
	width: 115px;
	margin-bottom: -1%;
}
img:hover{
	cursor: pointer;
}

.thumbnails > a {
	text-decoration: none;
}

.footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(44, 6, 251, 0.76);
  text-align: center;
}

@media only screen and (max-device-width: 740px) {
    .header {
        font-size:53px;
        padding-top: 27%;
    }

    .text{
    	display: none;
    }

    .ContThumb{
    padding-top: 20px;
    margin: auto;
    display: block;

    }

 	#github{
 		width: 142px;
 	}

 	#email{
 		width: 160px;
 	}

 	#linkedIn{
 		width: 150px;
 	}

 	#angel{
 		width: 150px;
 	}

    .navContainer{
    	font-size: -webkit-xxx-large;
    }

    .navImg{
    	display: none;
    }

    .footer{
    	height: 6%;
    	font-size: x-large;
    }
}

@media only screen and (min-device-width:760px) and (max-device-width: 1024px) and (orientation: portrait) {
    .header {
        font-size:53px;
        padding-top: 19%;
    }

        .text{
    	display: none;
    }

    .ContThumb{
    padding-top: 20px;
    margin: auto;
    display: block;

    }

 	#github{
 		width: 142px;
 	}

 	#email{
 		width: 160px;
 	}

 	#linkedIn{
 		width: 150px;
 	}

 	#angel{
 		width: 150px;
 	}

    .navContainer{
    	font-size: -webkit-xxx-large;
    }

    .navImg{
    	display: none;
    }

    .footer{
    	height: 6%;
    	font-size: x-large;
    }
}


@media only screen and (min-device-width:760px) and (max-device-width: 1024px) and (orientation: landscape) {
    .header {
        font-size:37px;
        padding-top: 0%;
    }

     .text{
    display: none;
    }


    .thumbnails{
    	padding-top: 0px;
    }

    .ContThumb{
    padding-top: 20px;
    margin: auto;
    display: block;

    }

 	#github{
 		width: 105px;
 	}

 	#email{
 		width: 100px;
 	}

 	#linkedIn{
 		width: 100px;
 	}

 	#angel{
 		width: 100px;
 	}

    .navContainer{
    	font-size: large;
    }

     .footer{
    	font-size: x-large;
    }
}