

.extra{
	background: #e4e3e1;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
	max-height: 60%;
	width: 100%;
	position: absolute;
	margin: 0;

}
 

.navContainer{
	background-color: #b2d8f1;
	position: fixed;
	border: black solid;
	width: 100%;
	margin-top:-12px;

}

.navLinks{
	float: right;
	padding-right:50px;
	padding-top: 10px;


}

.navImg{
	position: absolute;
}

.images{
	width: 35px;
	height: 35px;
	padding-left: 20px;
	padding-top: 18px;
}

ul > ol {
	display: inline;
}

ol > a {
	color: #7d4627;
}

ol > a:hover{
	color:black;
}

main {
	padding-top: 70px;
	padding-bottom: 50px;
	min-height: 100%;
}

.title{
	text-align: center;
	color:	#7d4627;
}

.portrait{
	text-align: center;
	width: 100%;
	height: auto;
}

.portImg{
	width: 300px;
	border:#b2d8f1 solid;
}


.aboutMeText{
	padding-left: 22%;
}


.row {
	display: inline;
}

.top{
	display: flex;
	margin-top: 50px;
	margin-bottom: 50px;

}

.sarcastic{
	font-style: italic;
}

.title{
	text-align: center;
}
.box{
	border: black solid;
	text-align: center;
	width: 300px;
	background: #b2d8f1;
	color:#7d4627;
	transition-duration: 1s;
    transition-property: color;
    transition-timing-function: linear;
    border-radius: 6px;
}

#hover:hover{
color:white;
}


.left{
	margin-right: 50px;
	margin-left: 50px;

}


.bottom{
	display: flex;
}

.bottomest {
	padding-top: 4%;
	display: flex;
}

table{
	margin: auto;
	color:#7d4627;
    padding-bottom: 5%;
}


.bodytext{
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	padding-bottom: 10px;
}

.box > ul {
margin-right: 50px;
font-family: Raleway;
}

ul > li{
	list-style-type: none;
	font-family: Raleway;
}

#feelgood{
	color: #7d4627;
	text-decoration: none;
}
 
#funFact{
padding-left: 1%;
padding-right: 1%;
padding-top: 13%;
}

#feelgood:hover{
	color: black;
}

.footer{
   width: 100%;
  height: 100%;
  background-color: #b2d8f1;
  text-align: center;
}

.footer > h3{
	padding-top: 1%;
	color: #7d4627;
}

@media only screen and (max-device-width: 740px) and (orientation: portrait) {

	.title{
		padding-top: 7%;
	}

	.portrait{
		padding-top: 2%;
	}

	.portImg{
		width: 64%;
	}

.row{
	display: initial;
	padding: 0;
}

.box{
	width: 74%;
	margin-top: 10px;
	margin-left: 0;
	margin-right: 0;
}

#funfact{
	padding-top: 0;
}

table{
	font-size: xx-large;
	padding-left: 5%;
}

p, h3, h2, .box > ul{
	font-size:x-large;
}
    .navContainer{
    	font-size: -webkit-xxx-large;
    }

    .navImg, .sarcastic, #sarcasticText{
    	display: none;
    }

    .footer{
    	height: 6%;
    	font-size: x-large;
    }
}

@media only screen and (max-device-width: 740px) and (orientation: landscape) {
	.title{
		padding-top: 9%;
		font-size: 34px;
	}

	.portrait{
		padding-top: 5%;
	}

		.aboutMeText{
		padding-left: 13%;
	}

	.sarcastic, #sarcasticText{
    	display: none;
    }


p, h3, h2, .box > ul, table{
	font-size:x-large;
}

    .navContainer{
    	font-size: -webkit-xxx-large;
    }

    .navImg{
    	display: none;
    }

    .footer{
    	height: 6%;
    	font-size: x-large;
    }
}

@media only screen and (min-device-width:760px) and (max-device-width: 1024px) and (orientation: portrait) {
	.title{
		padding-top: 9%;
	}

	.portrait{
		padding-top: 5%;
	}

	.portImg{
		width: 64%;
	}

.row{
	display: initial;
	padding: 0;
}

.box{
	width: 74%;
	margin-top: 15px;
	margin-left: 0;
	margin-right: 0;
}

#funfact{
	padding-top: 0;
}

table{
	font-size: xx-large;
	padding-left: 5%;
}


p, h3, h2, .box > ul, table{
	font-size:x-large;
}

    .navContainer{
    	font-size: -webkit-xxx-large;
    }

    .navImg, .sarcastic, #sarcasticText{
    	display: none;
    }

    .footer{
    	height: 6%;
    	font-size: x-large;
    }
}


@media only screen and (min-device-width:760px) and (max-device-width: 1024px) and (orientation: landscape) {
    .header {
        font-size:37px;
        padding-top: 13%;
    }
	
	.aboutMeText{
		padding-left: 13%;
	}

	.sarcastic, #sarcasticText{
    	display: none;
    }

    .navContainer{
    	font-size: large;
    }

    
     .footer{
    	font-size: x-large;
    }
}
