main.css


.row {
	display: inline;
}

.top{
	color: orange;
	display: flex;
	margin-top: 50px;
	margin-bottom: 50px;

}

.sarcastic{
	font-style: italic;
}

.title{
	text-align: center;
	text-decoration: underline;
}
.box{
	border: black solid;
	text-align: center;
	width: 300px;
}

.left{
	background: blue;
	margin-right: 50px;
	margin-left: 50px;
}

.bottom{
	display: flex;
}

.bodytext{
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	padding-bottom: 10px;
}

.box > ul {
margin-right: 50px;
}

#feelgood{
	color: beige;
	text-decoration: none;
}

hover :: #feelgood{
	color: purple;
}
