

.extra{
	background: burlywood;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
}
 

.navContainer{
	background-color: rgba(44, 6, 251, 0.76);
	position: fixed;
	border: black solid;
	width: 100%;
	margin-top:-20px;
	margin-left: -10px;

}

.navLinks{
	float: right;
	padding-right:50px;
	padding-top: 10px;


}

.navImg{
	position: absolute;
}

.images{
	width: 35px;
	height: 35px;
	padding-left: 20px;
	padding-top: 18px;
}

ul > ol {
	display: inline;
}

ol > a {
	color: ghostwhite;
}

ol > a:hover{
	color:aqua;
}

main {
	padding-top: 50px;
}

.title{
	text-align: center;
	color:	ghostwhite;
}

.portrait{
	text-align: center;
	width: 100%;
	height: auto;
}

.portImg{
	width: 300px;
	border:silver solid;
}


.aboutMeText{
	padding-left: 22%;
}


.row {
	display: inline;
}

.top{
	display: flex;
	margin-top: 50px;
	margin-bottom: 50px;

}

.sarcastic{
	font-style: italic;
}

.title{
	text-align: center;
	text-decoration: underline;
}
.box{
	border: black solid;
	text-align: center;
	width: 300px;
	background: rgb(58, 46, 222);
	color:ghostwhite;
	transition-duration: 1s;
    transition-property: color;
    transition-timing-function: linear;
    border-radius: 6px;
}

.box:hover{
color:black;
}


.left{
	margin-right: 50px;
	margin-left: 50px;

}


.bottom{
	display: flex;
}

.bottomest {
	padding-top: 4%;
	display: flex;
}

table{
	margin: auto;
	color:ghostwhite;
    padding-bottom: 5%;
}


.bodytext{
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	padding-bottom: 10px;
}

.box > ul {
margin-right: 50px;
font-family: Raleway;
}

ul > li{
	list-style-type: none;
	font-family: Raleway;
}

#feelgood{
	color: ghostwhite;
	text-decoration: none;
}
 
#funFact{
padding-left: 1%;
padding-right: 1%;
}

#feelgood:hover{
	color: purple;
}
