


.extra{
	background: #edd9c0;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	margin: 0; 
}


.navContainer{
	background-color: #a8b6bf;
	position: fixed;
	border: black solid;
	width: 100%;
	margin-top:-12px;

}

.navLinks{
	float: right;
	padding-right:50px;
	padding-top: 10px;
	text-decoration: underline;

}

.navImg{
	position: absolute;
}

.images{
	width: 35px;
	height: 35px;
	padding-left: 20px;
	padding-top: 18px;
}

ul > ol {
	display: inline;
}

ol > a {
	color: #7d4627;
}

ol > a:hover{
	color:black;

}

a{
	color:#7d4627;
}
main {
	padding-top: 50px;
}

div > h1 {
	color:#7d4627;
	text-decoration: underline;
}


.row{
	padding-right:20px;
	margin: auto;
  display: inline-flex;
  width: 80%;
  text-align: center;
  color: #7d4627;
}


.row::before, .row::after{
	display: table;
	content: '';
}

.row::after{
	clear:both;
}

.col-3{
	float:left;
	padding-left:1.041%;
	padding-right:1.041%;
	width:100%;
}


.portfolioBody{
	padding-top: 5%;
	text-align: center;
}

.header{
text-align: center;
}

.imgCont{
	width: 65%;
	height: 33%;
	margin: auto;
	border: black solid 2px;
}

.image{
	width: 100%;
	height: 100%;
}

#mongo{
	padding-top: 20%;
}

.box{
	transition-property: background;
	transition-duration: 0.5s;
	transition-timing-function: linear;
	border-radius: 6px;
}

.box:hover{
	background-color: black;
}

.projDescrip{
	font-style: italic;
}

.langImgCont{
	width: 35%;
	height: 25%;
	padding-bottom: 25%;
	padding-top: 4%;
	padding-right: 2%;
}

button{
	background-color: #a8b6bf;
	color: #7d4627;
	border-radius: 4px;
	margin: 1.8em;
	padding: 0.5em;
	cursor: pointer;
}

.buttons>a{
	text-decoration:  none;
}

.langDescrip{
	display: flex;
}

.footer{
  width: 100%;
 	height: 100%;
  background-color: #a8b6bf;
  text-align: center;
  position: relative;
  bottom: 0;
}

.footer > h3{
	color: #7d4627;
	padding-top: 1%;
}

.hidden{
display: none;
}


@media only screen and (max-device-width: 740px) and (orientation: portrait) {
    .header {
        font-size:53px;
        padding-top: 0%;
    }

    .navContainer{
    	font-size: -webkit-xxx-large;
    }

.portfolioBody{
	padding-top: 19%;
	font-size: xx-large;
}

.row{
	display: block;
	padding-top: 5%;

}

.projDescrip{
	font-size: 40px;
}

button{
	font-size:larger;
}

.langImgCont{
	padding-bottom: 0%;
}

    .navImg{
    	display: none;
    }

    .footer{
    	height: 6%;
    	font-size: x-large;
    }
}

@media only screen and (max-device-width: 740px) and (orientation: landscape) {
    .header {
        font-size:26px;
        padding-top: 10%;
    }

.portfolioBody{
	padding-top: 19%;
	font-size: x-large;
}

button{
	font-size:larger;
}

.langImgCont{
	padding-bottom: 19%;
}
    .navContainer{
    	font-size: -webkit-xxx-large;
    }

    .navImg{
    	display: none;
    }

    .footer{
    	height: 6%;
    	font-size: x-large;
    }
}

@media only screen and (min-device-width:760px) and (max-device-width: 1024px) and (orientation: portrait) {
    .header {
        font-size:53px;
        padding-top: 0%;
    }

    .navContainer{
    	font-size: -webkit-xxx-large;
    }

.portfolioBody{
	padding-top: 19%;
	font-size: xx-large;
}

.row{
	display: block;
	padding-top: 5%;

}

button{
	font-size:larger;
}

.projDescrip{
	font-size: xx-large;
}

.langImgCont{
	padding-bottom: 0%;
}
    .navImg{
    	display: none;
    }

    .footer{
    	height: 6%;
    	font-size: x-large;
    }
}

@media only screen and (min-device-width:760px) and (max-device-width: 1024px) and (orientation: landscape) {
    .header {
        font-size:37px;
        padding-top: 13%;
    }

    .navContainer{
    	font-size: large;
    }

button{
	font-size:larger;
}

     .footer{
    	font-size: x-large;
    }
}