


.extra{
	background-image: url("./background1.jpg");
	background-size: cover;
	font-family: 'Raleway', sans-serif;
}


.navContainer{
	background-color: rgba(44, 6, 251, 0.76);
	position: fixed;
	border: black solid;
	width: 100%;
	margin-top:-20px;
	margin-left: -10px;

}

.navLinks{
	float: right;
	padding-right:50px;
	padding-top: 10px;
	text-decoration: underline;

}

.navImg{
	position: absolute;
}

.images{
	width: 35px;
	height: 35px;
	padding-left: 20px;
	padding-top: 18px;
}

ul > ol {
	display: inline;
}

ol > a {
	color: white;
}

ol > a:hover{
	color:aqua;

}

main {
	padding-top: 50px;
}

div > h1 {
	color:white;
	text-decoration: underline;
}


.row{
	padding-left:20px;
	padding-right:20px;
	margin: 0 auto;
  display: inline-flex;
  max-width: 80%;
  text-align: center;
  color: white;
}


.row::before, .row::after{
	display: table;
	content: '';
}

.row::after{
	clear:both;
}

.col-3{
	float:left;
	padding-left:1.041%;
	padding-right:1.041%;
	width:100%;
}

@media only screen and (max-width: 640px){
	.col-3{
		width: 25%;
    display: block;
	}
}


.portfolioBody{
	padding-top: 5%;
	text-align: center;
}

.header{
text-align: center;
}

.imgCont{
	width: 55%;
	height: 45%;
	margin: auto;
	padding-bottom: 10%;
}

.image{
	width: 100%;
	height: 100%;
}


.box{
	transition-property: background;
	transition-duration: 0.5s;
	transition-timing-function: linear;
	border-radius: 6px;
}

.box:hover{
	background-color: black;
}

.hidden{
display: none;
}